<div class="game-container">
  <app-game-control
    (onStartGame)="handleGameStarted()"
    (onStopGame)="handleGameStopped()"
  ></app-game-control>
  <div class="number-container">
    <!-- <app-odd
      *ngFor="let oddNumber of oddNumbers"
      [number]="oddNumber"
    ></app-odd>
    <app-even
      *ngFor="let evenNumber of evenNumbers"
      [number]="evenNumber"
    ></app-even> -->
    <!-- ngFor loop + ngStyle -->
    <span
      *ngFor="let gameNumber of gameNumbers"
      [ngStyle]="{ color: checkIsOdd(gameNumber) }"
      >{{ gameNumber }}</span
    >
  </div>
  <!-- custom basic directive -->
  <p appBasicHighlight>
    Using custom Basic Directive on this paragraph (nativeElement.style)
  </p>
  <!-- custom better directive (using renderer) -->
  <p appBetterHighlight [defaultColor]="'red'" [highlightColor]="'yellow'">
    Using custom Better Directive on this paragraph (renderer.setStyle)
  </p>
  <!-- custom structural directive * -->
  <div *appUnless="condition">
    <p>I am bound to a custom structural directive</p>
  </div>
  <button (click)="handleToggleButton()">toggle</button>
  <!-- ngSwitch -->
  <div [ngSwitch]="value">
    <p *ngSwitchCase="5">Value is 5</p>
    <p *ngSwitchCase="10">Value is 10</p>
    <p *ngSwitchCase="15">Value is 15</p>
    <p *ngSwitchDefault>Value is default</p>
  </div>
</div>
